.mob-menu {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-grow: 1;

  @media screen and (max-width: $mobile) {
    gap: calc(16px + 2vw);
  }

  &__link {
    @extend %link;
    @extend %nav-link;
    @media screen and (max-width: $mobile) {
      font-size: 7vw;
    }
  }

  &__link--current {
    position: relative;
    color: $accent-color;
  }
}
