.mob-menu {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 32px;
  // margin-bottom: 300px;
  flex-grow: 1;

  // @media screen and (max-width: $mobile) {
  //   margin-bottom: 100px;
  // }

  &__link {
    @extend %link;
    @extend %nav-link;
    @media screen and (max-width: $mobile) {
      font-size: 8vw;
    }
  }

  &__link--current {
    position: relative;
    color: $accent-color;
  }
}
