.mob-contact {
  @extend %list;
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  margin-bottom: 64px;

  @media screen and (max-width: $mobile) {
    gap: calc(16px + 2vw);
  }

  &__link {
    @extend %link;
    @extend %nav-link;
    @extend %scnd-txt-color;
    font-size: 34px;
    line-height: 1.17;

    @media screen and (max-width: $mobile) {
      font-size: 7vw;
    }
  }
}
