.mob-socials {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $mobile) {
    row-gap: 10px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &__item {
    border-right: 1px solid $input-border-color;
  }

  &__item:last-child {
    border-right: 0;
  }

  &__link {
    @extend %link;
    padding: 0 10px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}

.mob-socials__link {
  .mob-socials__item:first-child & {
    padding-left: 0;
    @media screen and (max-width: 440px) {
      padding-left: 10px;
    }
  }

  .mob-socials__item:last-child & {
    padding-right: 0;
  }
}
